@import url(https://unpkg.com/leaflet@1.9.2/dist/leaflet.css);

.leaflet-top.leaflet-right {
  display: none;
}
.leaflet-top.leaflet-left {
  display: none;
}

/*hiding copyright info text in bottom */
.leaflet-control-attribution.leaflet-control {
  display: none !important;
}
